{{ define "main" }}
  {{ partial "hero.html" . }}
  <section class="grid gg100">
  {{ range .Pages }}
    <article class="bb:not" style="padding-bottom: 96px; ">
      <section class="grid gg80 lg:gtc-1-2">
        <div>
          <time class="mr40">{{ .Date.Format "2006-01-02" }}</time>
          {{- with .Params.badges -}}
            {{- range . -}}
              <span class="Badge">{{ . }}</span>
            {{- end -}}
          {{- end -}}
        </div>
        <div class="grid gg80">
          <h2>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h2>
          <div class="flow">
            {{ .Content }}
          </div>
        </div>
      </section> 
    </article>
  {{ end }}
  </section>
  {{ $calloutText := .Params.callout_text }}
  {{ if eq .Params.callout true  }}
  <section class="Callout">
    {{ $calloutText | markdownify }}
  </section>
  {{ end }}
{{ end }}