:root {
 --font-default: 'Space Mono', "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
 --font-weight-light: 300;
 --font-weight-regular: 400;
 --font-weight-bold: 700;
 --line-height-compact: 1.1;
 --line-height-loose: 1.6;
 --width-compact: 28ch;
 --width-longform: 65ch;
}