.Button {
 background-color: var(--gray-200);
 border: 0;
 border-radius: var(--size-20);
 color: var(--gray-800);
 cursor: pointer;
 font-family: inherit;
 font-size: var(--size-50);
 font-weight: bold;
 text-transform: uppercase;
 padding: var(--size-30) var(--size-40);
 width: 100%;
}

.Button:hover,
.Button:focus {
 background-color: var(--white);
 transform: translateY(-2px)
}