.Callout {
 border: dotted 2px var(--gray-200);
 display: flex;
 gap: var(--size-40);
 margin-top: var(--size-30);
 margin-bottom: var(--size-130);
 padding: var(--size-40);

 p {
  line-height: var(--line-height-loose);
 }
}