.Callout {
 background-color: var(--gray-800);
 display: flex;
 gap: var(--size-40);
 margin-top: var(--size-100);
 margin-bottom: var(--size-110);
 padding: var(--size-60) var(--size-70);
 box-shadow: 0px 12px 20px 8px rgba(0, 0, 0, 0.37);

 p {
  line-height: var(--line-height-loose);
  font-size: var(--size-40);
 }
}