.SiteHead {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: var(--size-60);
}

.SiteHead-title {
 text-decoration: none;
 &:hover {
  color: inherit;
  background-color: unset;
 }
}