.SiteHead {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: var(--size-60);
}

.SiteHead-title {
 font-weight: var(--font-weight-bold);
 font-size: var(--size-50);
 text-decoration: none;
}