@include breakpoint(lg) {
 .home-wrap {
  display: flex;
  gap: var(--size-130);
 }
}

.home-wrap {
 article {
  position: relative;
  border-bottom: dotted 2px;

  &:last-of-type {
   border-bottom: none;
  }
  
  &:last-of-type:before {
   content: "";
   position: absolute;
   display: block;
   width: 101%;
   height: 90%;
   background: linear-gradient(360deg, #111111, rgba(17, 17, 17, 0) 100%);
   z-index: 100;
   margin-left: -1%;
  }

 }
}