<footer class="SiteFoot bt" role="banner">
  <nav class="Nav bb">
    <ul class="Nav-list">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="Nav-listItem">
        <a 
          class="Nav-listItemLink {{ if eq $currentPage.RelPermalink .URL }}is-active{{end}}" 
          href="{{.URL}}"
          {{- if eq .Params.external true -}}
            target="_blank" rel="noopener noreferrer"
          {{- end -}}
          >
          {{ .Name }}
        </a>
      </li>
    {{ end }}
    </ul>
  </nav>
  <p><em>0.02g of CO2</em> produced every time someone visits this web page.</p>
</footer>