{{ define "main" }}
  {{ partial "hero.html" . }}
  <div class="home-wrap">
    <section class="flow">
      {{ .Content }}
      <div class="mt130">
        {{ $curriculum := .Site.Data.curriculum }}
        {{ $module := $curriculum.module }}
        <h2 id="{{ $curriculum.title | urlize }}">{{ $curriculum.title }}</h2>
        {{ range $module }}     
          <article class="mt110 pb80">
            <div class="flex justify-between">
              <span>Module {{ .number }}</span>
              <span class="Badge">Lesson {{ .lesson_total }}</span>
            </div>
            <h3 class="pt60 pb60">{{ .title }}</h3>
            <p>{{ .description }}</p> 
            <ul>
            {{ range .lessons }}
              <li><strong>{{ .title }}</strong></li>
            {{ end }}
            </ul> 
          </article>
        {{ end }}
        {{ $callout := $curriculum.callout }}
        {{ $show := $callout.show }}
        {{ $text := $callout.text }}
        {{ $icon := $callout.icon }}
        {{ if eq $show true }}
          <div class="Callout">
            {{ if eq $icon "warning" }}
              {{ partialCached "svg/warning.html" . }}
            {{ end }}
            <p>{{ $text | markdownify }}</p>
          </div>
        {{ end }}
      </div>
    </section>
    {{ partial "signup-form.html" . }}
  </div>
{{ end }}