.grid {
 display: grid;
}

.gg110 {
 gap: var(--size-110);
}

.gg80 {
 gap: var(--size-80);
}

@include breakpoint(lg) {
 .lg\:gtc-1-1 {
  grid-template-columns: 1fr 1fr;
 }

 .lg\:gtc-1-2 {
  grid-template-columns: 1fr 2fr;
 }
}