.mt10 {
 margin-top: var(--size-10);
}

.mt20 {
 margin-top: var(--size-20);
}

.mt40 {
 margin-top: var(--size-40);
}

.mt60 {
 margin-top: var(--size-60);
}

.mt80 {
 margin-top: var(--size-80);
}

.mt110 {
 margin-top: var(--size-110);
}

.mt130 {
 margin-top: var(--size-130);
}

.mb10 {
 margin-bottom: var(--size-10);
}

.mb20 {
 margin-bottom: var(--size-20);
}

.mb40 {
 margin-bottom: var(--size-40);
}

.mb60 {
 margin-bottom: var(--size-60);
}

.mb80 {
 margin-bottom: var(--size-80);
}

.mb110 {
 margin-bottom: var(--size-110);
}

.mb130 {
 margin-bottom: var(--size-130);
}

.mr40 {
 margin-right: var(--size-40);
}