.pt10 {
 padding-top: var(--size-10);
}

.pt20 {
 padding-top: var(--size-20);
}

.pt40 {
 padding-top: var(--size-40);
}

.pt60 {
 padding-top: var(--size-60);
}

.pt80 {
 padding-top: var(--size-80);
}

.pt110 {
 padding-top: var(--size-110);
}

.pb10 {
 padding-bottom: var(--size-10);
}

.pb20 {
 padding-bottom: var(--size-20);
}

.pb40 {
 padding-bottom: var(--size-40);
}

.pb60 {
 padding-bottom: var(--size-60);
}

.pb80 {
 padding-bottom: var(--size-80);
}

.pb110 {
 padding-bottom: var(--size-110);
}